<div class="container">

  <div class="starter-template">
    <h1>Wait and Eat</h1>
    <p class="lead">Smart Restaurant App</p>
    <button type="button" class="btn btn-primary btn-lg">Get Started</button>
  </div>
  <div>
  	
  </div>
  <div class="row">
	<div class="col-md-4">
		<h3>Out dated</h3>
		<p>Outdated technique like calling a persons name was done which was ineffective.</p>
	</div>
	<div class="col-md-4">
		<h3>New</h3>
		<p>New technique like  persons needed to carry a device  which was also ineffective.</p>
	</div>
	<div class="col-md-4">
		<h3>Brand New</h3>
		<p>New technique like sending a text message to the person when the table is ready.</p>
	</div>
  </div>

  


</div><!-- /.container -->